// 主题色
$success: #67c23a;
$warning: #e69b2b;
$error: #f56c6c;
$info: #2db7f5;
$primary: #409eff;

// 字体颜色
$text: #303133;
$textLight: #606266;
// 字体大小
$fontSize: 14px;
$fontSizeSmall: 12px;
$fontSizeLarge: 16px;
// 字体行高
$lineHeight: 1.2em;
$lineHeightSmall: 1em;
$lineHeightLarge: 1.4em;

$btnHeight: 2.2em;
$btnHeightSmall: 2em;
$btnHeightLarge: 2.4em;

$disabled: #f7f7f7;
$disabledColor: #c5c8ce;

// 边框
$border: #dcdfe6;
$borderLight: #e4e7ed;

// radius
$borderRadiusLight: 2px;
$borderRadiusNormal: 4px;
$borderRadiusLarge: 6px;
$borderRadiusCircle: 20px;

// switch
$switchHeight: 22px;
$switchHeightInner: $switchHeight - 4px;
$true-color: $primary;
$false-color: rgba(0, 0, 0, 0.25);

// spin
$spinSmall: 14px;
$spinLarge: 24px;

// message
$messageBoxShadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08),
  0 9px 28px 8px rgba(0, 0, 0, 0.05);
$messageZIndex: 200;

//rate
$rateNormal: #dadada;
$rateHighLight: #eae84f;

// notification
$notificationBoxShadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08),
  0 9px 28px 8px rgba(0, 0, 0, 0.05);
$notificationZIndex: 200;

// modal
$modalBoxShadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08),
  0 9px 28px 8px rgba(0, 0, 0, 0.05);
$modalZIndex: 200;

// affix
$affixZIndex: 200;

// drawer
$drawerZIndex: 200;
$drawerShadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);

// loading
@keyframes le-spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

// input 

