.basis {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: flex-end;
    & > .le-button {
        margin-right: 8px;
    }
    & > .le-btn-group {
        margin-right: 8px;
    }

    & > .le-switch {
        margin-right: 8px;
    }
    & > .le-spin {
        margin-right: 8px;
    }
    & > .le-icon {
        margin-right: 8px;
    }

}
p {
    font-size: 14px;
}
