@import "../../styles/index.scss";

#le-modal-wrapper {

    .le-modal {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;

        .le-modal-content-wrapper {
            width: 520px;
            min-height: 200px;
            background-color: #fff;
            border: 0;
            border-radius: 2px;
            pointer-events: auto;
            margin-top: 140px;
        }
    }

    .le-modal-mask {
        background-color: rgba(0, 0, 0, .45);

    }
}