.le-carousel {
  display: flex;
  overflow: hidden;
  position: relative;
  width: 100%;
  .le-carousel-container {
    display: flex;
    &.transitionTime {
      transition: transform .5s ease;
    }
  }
  .arrow_left {
    position: absolute;
    left: 0;
    top: 50%;
    cursor: pointer;
  }
  .arrow_right {
    position: absolute;
    right: 0;
    top: 50%;
    cursor: pointer;
  }
}
