.le-checkBox {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-right: 10px;
    label {
      display: inline-flex;
      padding-left: 10px;
      font-size: 14px;
    }
    &.le-checkBox-disabled {
      cursor: not-allowed;
      opacity: 0.4;
      input {
        cursor: not-allowed;
        pointer-events: none;
      }
      label {
        cursor: not-allowed;
        pointer-events: none;
      }
    }
  }