.le_table {
  table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #c6c6c6 !important;
    margin-bottom: 20px;
    th {
      border-collapse: collapse;
      border-right: 1px solid #c6c6c6 !important;
      border-bottom: 1px solid #c6c6c6 !important;
      background: #f7f7f7 !important;
      padding: 8px 16px;
      font-size: 14px;
      font-weight: normal;
      text-align: left;
    }
    td {
      border-collapse: collapse;
      border-right: 1px solid #c6c6c6 !important;
      border-bottom: 1px solid #c6c6c6 !important;
      padding: 8px 16px;
      font-size: 14px;
      font-weight: normal;
      text-align: left;
      word-break: break-all;
    }
  }
}
