@import "../../styles/index.scss";

#le-message-wrapper {
    position: fixed;
    top: 20px;
    z-index: $messageZIndex;
    width: 100%;
}

.le-message {
    text-align: center;
    margin-bottom: 10px;

    .toast_main {
        display: inline-flex;
        box-shadow: $messageBoxShadow;
        pointer-events: all;
        background: #fff;
        padding: 10px 16px;
        font-size: $fontSize;
    }

    &.hiddenMessage {
        display: none;
    }
}